<section id="projects-list">
    {{#projects}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title" class="h4">
                <strong>{{name}}</strong>
            </span>
            <div class="links">
                {{#if url}}
                <span class="glyphicon glyphicon-link"></span>
                <a href="{{url}}" class="small">View</a>
                {{/if}}
                {{#if githubUrl}}
                <img class="github-mark" src="/img/github.png" />
                <a href="{{githubUrl}}" class="small">GitHub</a>
                {{/if}}
            </div>
        </div>
        <div class="panel-body">
            <p class="minor">{{description}}</p>
            <div class="info">
                {{#tools}}
                <span class="label label-default">{{.}}</span>
                {{/tools}}
            </div>
        </div>
    </div>
    {{/projects}}
</div>